<%= render "shared/header" %>

<div class="edit-main">
  <div class="edit-form">
    <h1 class="user-nickname">Hello  <%= current_user.nickname %>!!</h1>
    <div class="view-image">
      <% if current_user.image.attached? %>
        <%= image_tag current_user.image.variant(resize: '150x150'), class:"user-edit-icon" %>
      <% else %>
        <%= image_tag("user-image.png", class:"user-edit-icon") %>
      <% end %>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-input">
        <%= f.file_field :image %>
      </div>

      <div class="field">
        <%= f.label :nickname %><br />
        <%= f.text_field :nickname, class:"edit-area", autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class:"edit-area", autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :team %><br />
        <%= f.text_field :team, class: "edit-area" %>
      </div>

      <div class="field">
        <%= f.label :"経歴" %><br />
        <%= f.text_area :career, class: "edit-career" %>
      </div>

  
      <div class="actions">
        <%= f.submit "保存", class: "update-btn" %>
      </div>

       <%= link_to "もどる", :back, class: "update-back-btn" %>
    <% end %>

  </div>
</div>
