<%= render 'shared/header' %>

<div class="user-info">
  <%# ユーザー情報の詳細 %>
  <div class="user-data">
    <p class="contents-title"><%= @nickname %>さんの情報</p>
    <%# cssは投稿詳細ページのものを使用
    app/assets/stylesheets/posts/show.css %>
    <table class="user-table">
      <tbody>
        <tr>
          <th class="user-header">名前</th>
          <td class="user-content"><%= @user.nickname %></td>
        </tr>
         <tr>
          <th class="user-header">所属チーム</th>
          <td class="user-content"><%= @user.team %></td>
        </tr>
         <tr>
          <th class="user-header">経歴</th>
          <td class="user-content"><%= @user.career %></td>
        </tr>
      </tbody>
    </table>
    <%#// cssは投稿詳細ページのものを使用
    app/assets/stylesheets/posts/show.css %>
  </div>
  <%#//ユーザー情報の詳細 %>

  <div class="edit-user-btn">
    <% if user_signed_in? && current_user.id == @user.id  %>
      <%= link_to "編集する", edit_user_registration_path %>
    <% end %>
  </div>

  <%# メッセージルームに遷移するボタン %>
    <% unless @user.id == current_user.id %>
    <% if @haveRoom == true %>
      <%= link_to "ダイレクトメッセージ", room_path(@roomId) %>
    <% else %>
      <%= form_with model: @room, local: true do |f|%>
        <%= fields_for @RoomUser do |r| %>
          <%= r.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= f.submit "チャットを始める" %>
      <% end %>
    <% end %>
    <% end %>
  

  <%#//メッセージルームに遷移するボタン %>

<%# ログインユーザーの投稿一覧 %>
  <div class="contents">
    <p class="contents-title"><%= @nickname %>さんの投稿</p>
    <% @posts.each do |post| %>
      <%= link_to post_path(post.id) do %>
      <div class="post-content">
        <iframe class="video" src="https://www.youtube.com/embed/<%= post.youtube_url.last(11)%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <P class="post-title"><%= post.title %></p>
      </div>
      <% end %>  
    <% end %>
  </div>
<%# //ログインしているユーザーがplayerだったら表示するように条件分岐 %>
<%# //ログインユーザーの投稿一覧 %>

</div>

<%= render 'shared/footer' %>