<%= render 'shared/header' %>

<div class="user-info">


<%# ログインユーザーの投稿一覧 %>
<%# ログインしているユーザーがplayerだったら表示するように条件分岐 %>
<div class="contents">
  <p class="contents-title"><%= @nickname %>さんの投稿</p>
  <% @posts.each do |post| %>
    <%= link_to post_path(post.id) do %>
    <div class="post-content">
      <iframe class="video" src="https://www.youtube.com/embed/<%= post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <P class="post-title"><%= post.title %></p>
    </div>
    <% end %>  
  <% end %>
</div>
<%# //ログインしているユーザーがplayerだったら表示するように条件分岐 %>
<%# //ログインユーザーの投稿一覧 %>

</div>

<%= render 'shared/footer' %>