<header class="header">
  <div class="header-contents">
    <form class="search-form" action="#">
      <input class="input-box" placeholder="キーワード検索">
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
    <%= link_to image_tag("header-logo.png", class:"factor-icon"), "/" %>
    <div class="menu">
        <% if user_signed_in? %>
          <div class="user_nav">
            <span><%= current_user.nickname %>
              <ul class="user_info">
                <li>
                  <%= link_to "マイページ", "/users/#{current_user.id}" %>
                  <%= link_to "ログアウト",  destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            </span>
          <%= link_to "投稿する", new_post_path, class: "post-btn" %></li>
          </div>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "login" %>
          <span>/</span>
          <%= link_to "新規登録", new_user_registration_path, class: "sign-up"  %>
        <% end %>
      
    </div>
  </div>
</header>