 <%# cssは新規投稿のものを使用
 app/assets/stylesheets/posts/new.css %>
 
 <%= render "shared/header" %>

<div class="post-main">
  <div class="post-form">
    <%= form_with model: @post,local: true do |f| %>
      <%= render "shared/error_messages", model: f.object %>

      <div class="new-post">
        <div class="new-post-title">
          タイトル
        </div>
        <%= f.text_field :title, class:"post-text", id:"post-title", placeholder:"タイトルを入力" %>
        <div class="new-post-title">
          動画URL
        </div>
        <%= f.text_field :youtube_url, class:"post-text", id:"video-url", placeholder:"YouTubeのURLを貼り付けてください" %>
        <div class="new-post-title">
          アピールポイント、説明等
        </div>
        <%= f.text_area :text, class:"post-text", id:"post-explain", placeholder:"テキストを入力" %>
        <div class="new-post-action">
          <%= f.submit "更新する", class:"new-post-btn" %>
        </div>
        <%= link_to "もどる", root_path, class:"new-back-btn" %>
      </div>

    <% end %>
  </div>
</div>

<%= render "shared/footer" %>



