<%= render "shared/header" %>

<div class="main">
  <%= search_form_for @q, url: search_posts_path do |f| %>
    <div class="search">
      <%= f.text_field :title_or_text_cont, class: "search-form", placeholder: "キーワード検索" %>
      <%= f.submit "検索", class: "search-btn"%>
    </div>
  <% end %>
  
  <div class="post-contents">
    <h2 class="title">投稿一覧</h2>
    <ul class="post-lists">

      <% @posts.each do |post| %>
      <li class="list">
        <%= link_to post_path(post.id) do %>
        <%# youtubeの動画を表示 %>
        <div class="youtube_url">
          <iframe class="video" src="https://www.youtube.com/embed/<%= post.youtube_url.last(11)%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <%# //youtubeの動画を表示%>
        <div class="post-title">
          <%= post.title %>
        </div>
        <% end %>
        <div class="post-date">
          <%= post.created_at.strftime("%Y-%m-%d %H:%M") %>
        </div>
        <div class="post-user">
          <% if post.user.image.attached? %>
            <%= image_tag post.user.image.variant(resize: '150x150'), class: 'user-image'  %>
          <% else %>
            <%= image_tag("user-image.png", class:"user-noicon") %>
          <% end %>
          <%=link_to post.user.nickname, user_path(post.user.id) %>
        </div>
      </li>
      <% end %>

    </ul>
  </div>
</div>

<%= render "shared/footer" %>

